body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Mega', sans-serif;
    background-color: #fff4e8;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 64px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2 {
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 40px;
    margin-block-start: 32px;
    margin-block-end: 0px;
}

input,
button,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

input[type='time']::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

.datetime-container {
    display: flex;
    justify-content: space-between;
}

.search-input-container {
    display: flex;
    justify-content: space-between;
}

.input {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-small {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.input-datetime-left {
    margin-right: 10px;
}

.input-datetime-right {
    margin-left: 10px;
}

.textarea {
    background-color: #fff;
    text-align: left;
    resize: none;
    padding: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 200px;
    font-size: 14px;
    font-weight: normal;
}


.button-container {
    align-content: center;
    display: inline-block;
    text-align: center;
}

.button {
    background-color: #ffd856;
    color: #000000;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
}

.button-small {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 10px;
}

.header-button-container {
    text-align: right;
}

.header-button {
    width: fit-content;
    background-color: #abc7ff;
    color: #000000;
    padding: 5px 8px;
    min-width: 100px;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 4px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.button:hover,
.header-button:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    box-sizing: border-box;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #D3FFC2;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    font-size: 14px;
    font-weight: normal;
}

.text-key {
    box-sizing: border-box;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #A6EFFF;
}

#countdownContainer {
    display: flex;
    justify-content: space-between;
}

.countdown-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    ;
}

.countdown-element {
    box-sizing: border-box;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #A6EFFF;
    width: fit-content;
    min-width: 75px;
    margin: 16px 0px;
    padding: 18px 8px;
    font-size: 36px;
}

#textRevealedContainer {
    box-sizing: border-box;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #A6EFFF;
    min-height: 200px;
    padding: 20px;
}